body {
	background-image: url("landingpage.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 130%;
}

h2 {
	font-family: 'Trade Winds';
	margin-bottom: 1px;
	border-color: black;
	font-size: 40px;
	margin-left: 1.66%;
}

p {
	margin-top: 1px;
	width: 95%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-left: 1.66%;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

nav {
	font-family: 'Lato', sans-serif;
	/* background: rgba(255, 255, 255, .9); */
	font-size: 20px;
	margin-bottom: 50px;
}
